@model VacationFormPractice.Models.TravelerProfile

@{
    ViewData["Title"] = "Create";
}

<h4>TravelerProfile</h4>

<hr />
<div class="row">
    <div class="col-md-4" style="border: 3px solid red; border-radius: 15px; padding: 25px">

        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label" ></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DreamDestination" class="control-label"></label>
                <input asp-for="DreamDestination" class="form-control" />
                <span asp-validation-for="DreamDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="budget" class="control-label"></label>
                <input asp-for="budget" class="form-control" name="Budget"/>
                <span asp-validation-for="budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" name="Email"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" name="phone" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit my dream vacation!" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

