

@model VacationFormPractice.Models.TravelerProfile


@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style type="text/css">
        .yellow {
            background-color: yellow;
        }
    </style>
</head>

<body class="yellow">

   

   
</body>

